run = "python run.py"
modules = ["nodejs-20", "python-3.11"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python run.py"]

[[ports]]
localPort = 5001
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
